<div class="container-fluid my-3">
  <mat-card>
    <div class="row">
      <div class="col-12">
        <button mat-flat-button color="primary" (click)="login()">loggin</button>
        <button mat-flat-button color="primary" (click)="logout()">logout</button>
        <button mat-flat-button color="primary" (click)="openWindow('https://www.google.com/', true)">
          open google external
        </button>
        <button mat-flat-button color="primary" (click)="openWindow('https://www.google.com/', false)">
          open google internal
        </button>
        <button mat-flat-button color="primary" (click)="closeWindow()">close window</button>
        <button mat-flat-button color="primary" (click)="getProfile()">get profile</button>
        <button mat-flat-button color="primary" (click)="getFriendship()">get friendship</button>
        <button mat-flat-button color="primary" (click)="afterLiffInit()">get liff data</button>
      </div>
    </div>

    <div class="card m-3 p-2">
      <pre>{{ 'profile' + ' : ' +  (profile | json)}}</pre>
    </div>
    <div class="card m-3 p-2">
      <pre>{{ 'friendship' + ' : ' +  (friendship | json)}}</pre>
    </div>
    <div class="card m-3 p-2">
      <pre>{{ 'permission' + ' : ' +  (myPermission | json)}}</pre>
    </div>
    <div *ngFor="let data of obj | keyvalue" class="card m-3 p-2">
      <pre>{{ data.key + ' : ' +  (data.value | json)}}</pre>
    </div>
  </mat-card>
</div>
<router-outlet></router-outlet>